<template>
    <div class="atividade">
      <div class="row">
        <h2>Atividades</h2>
        <button
          id="submit"
          type="button"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#exampleModal"
        >Cadastrar atividade</button>
      </div>

     
    
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova atividade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form @submit.prevent="cadastrar_atividade" >
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nome:</label>
            <input type="text" class="form-control" id="recipient-name" v-model="atividade.nome">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descrição:</label>
            <textarea class="form-control" id="message-text" v-model="atividade.descricao"></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Mínimo de participantes:</label>
            <input type="text" class="form-control" id="recipient-name" v-model="atividade.minimoParticipantes">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Máximo de participantes:</label>
            <input type="text" class="form-control" id="recipient-name" v-model="atividade.maximoParticipantes">
          </div>
          <div class="form-group">

            <label for="recipient-name" class="col-form-label">Pontuação:</label>
            <input type="text" class="form-control" id="recipient-name" v-model="atividade.pontuacao">
          </div>

          <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Evento:</label>
                  <select name id class="form-control" v-model="atividade.evento_id">
                    <option selected>SELECIONE</option>
                    <option v-for="evento of eventos" :key="evento.id" :value="evento.id">{{ evento.nome }}</option>
                  </select>
                </div>

          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>    
        </form>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
    <table class="table table-sm table-striped">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Atividade</th>
      <th scope="col">Pontuação</th>  

      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="atividade in atividades" :key="atividade.id">
      <td><a class="btn"
        data-toggle="modal"
        data-target="#exampleModal"><i class="fas fa-search"></i></a></td>
      <td>{{atividade.nome}}</td>
      <td>{{atividade.pontuacao}}</td>      
      <td>
        <button @click="editar(atividade)" data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>   
        <button @click="remover(atividade)" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button> 
      </td>
    </tr>
  </tbody>
</table>
</div>  

    </div>
</template>
<script>
import Atividade from "../services/atividades"
import Evento from "../services/eventos"

export default {
    name: 'Atividade', 
    data() {
      return {
        atividade: {
          id: '',
          nome: '',
          descricao: '',
          minimoParticipantes: '',
          maximoParticipantes: '',
          pontuacao: '',
          evento_id: '',
        },
        atividades: [],
        eventos: [],
      }
    },

    mounted() {
      this.listar_atividades()
      this.listar_eventos()
    },

    methods: {

      listar_eventos(){
        Evento.listar().then(resp => {
          this.eventos = resp.data
        })
      },

      listar_atividades(){
      Atividade.listar().then(resp=> {
          this.atividades = resp.data
        }
      )
    },
      
    

    cadastrar_atividade(){
      console.log("cheguie")
      if(!this.atividade.id){
        Atividade.salvar(this.atividade).then(resposta => {
              this.atividade = {}
              alert('Salvo com sucesso!!')
              this.listar_atividades()
        })
      }else{
        Atividade.atualizar(this.atividade).then(resposta => {
          this.atividade = {}
          alert('Atividade Atualizada!')
          this.listar_atividades()
        })
      }
          
    },

    editar(atividade){
        this.atividade = atividade
    },

    remover(atividade){
        if(confirm('Deseja excluir o atividade?')){
          Atividade.apagar(atividade).then(resposta => {
            this.atividade = {}
            this.listar_atividades()  
          })
        }
    }
},

    
}
</script>
<style lang="">
    
</style>